*
{padding: 0;
    margin: 0;
box-sizing: border-box
}
@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}
.container{
    max-width: 1200px;
    margin: auto;
}

/* new */

.discount{
    position: absolute;
    background-color: #46A358;
    padding: 10px;
    color: #fff;
    left: 0;
    top: 5px;
}
.cardicons{
    position: absolute;
    bottom: 60px;
    left: 60px;
    display: none;
}
.card:hover .cardicons{
    display: block;
}
.cardicons ul{
    list-style: none;
}
.cardicons ul{
    display: flex;
    gap: 30px;
}
.cardicons ul li{
    display: block;
}
.icon-shopping a:hover img{
    opacity: 0;
}
.icon-shopping a:hover{
    background-image: url("../images/shopping 1.png");
}
.icon-like{
    position: relative;
}
.icon-like a:hover img{
    opacity: 0;
}
.icon-like a:hover{
    background-image: url("../images/heart 1.png");
}
.icon-search{
    position: relative;
}
.icon-search a:hover img{
    opacity: 0;
}
.icon-search a:hover{
    background-image: url("../images/loop 1.png");
}

/* header */

header{
    margin-bottom: 12px;
    padding: 25px 0;
}
header .container{
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    display: flex;
    font-family: 'cera_proregular', sans-serif;
    align-items: center;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
header nav ul li a{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    position: relative;
}
header nav ul li a:before{
    content: "";
    display: block;
    background-color: #46A358;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -10px;
    transition: 0.4s;
}
header nav ul li a:hover:before{
    width: 100%;
}
header nav ul li a:hover:before{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}
header .login{
    width: 100px;
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
header .login svg{
    margin-right: 4px;
}
header nav ul li{
    position: relative;
}
header nav ul li .dropdown{
    display: none;
    list-style: none;
    position: absolute;
    top: 10px;
    left: -60px;
    padding-top: 40px;
}
header nav ul li .dropdown a:before{
    display: none;
}
header nav ul li .dropdown a{
    padding: 8px 14px;
    min-width: 188px;
    display: inline-block;
    background-color: #eeeeee;
    line-height: 20px;
    transition: 0.3s;
}
header nav li .dropdown li:last-of-type a:after{
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    position: absolute;
    right: 17px;
    top: 14px;
    background-image: url("../images/frame 9.svg")
}
header nav ul li .dropdown a:hover:after{
    background-image: url("../images/stroke 3-2.svg");
    transform: rotate(180deg);
}
header nav ul li .dropdown .dropdown2 a:hover:after{
    background-image: none;
}
header nav ul li .dropdown a:hover{
    background-color: #46A358;
    color: #eeeeee;
}
header nav ul li.drop:hover .dropdown{
    display: block;
    list-style: none;
    position: absolute;
    top: 10px;
    left: -60px;
}
.dropdown2{
    display: none;
    background-color: #eeeeee;
    min-width: 188px;
    line-height: 30px;
    transition: 1s;
    position: absolute;
    top: -108px;
    left: 190px;
    padding-left: 10px;
}
header nav ul li.drop .dropdown li:last-of-type:hover .dropdown2{
    display: block;
    background-image: none;
}

/* banner */

.banner .container{
    display: flex;
    align-items: center;
    font-family: 'cera_proregular', sans-serif;
    color: #3d3d3d;
    margin-bottom: 50px;
}
.banner span{
    color: #46A358;
}
.banner h3{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.banner h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'cera_problack', sans-serif;
    margin-bottom: 10px;
}
.banner p{
    margin-bottom: 50px;
}
.banner a{
    background: #46a358;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

/* float */

.float .container{
    font-family: 'cera_proregular', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 40px;
}
.panel-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.panel-left{
    background: #fbfbfb;
}
.categories{
    line-height: 260%;
    padding-left: 18px;
}
.categories a{
    color: #3d3d3d;
    text-decoration: none
}
.categories ul{
    list-style: none;
    padding-left: 12px;
}
.categories h3{
    font-family: 'cera_promedium', sans-serif;
    color: #46A358;
    font-weight: 900;
}
.sort{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.sort ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.sort a{
    text-decoration: none;
    color: #3d3d3d;
}
.sort-right{
    display: flex;
    gap: 10px;
    align-items: center;
}
.sort .chosen_one{
    font-family: 'cera_promedium', sans-serif;
    color: #46A358;
    font-weight: 900;
}
.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    align-content: flex-end;
    position: relative;
    max-width: 258px;
    max-height: 400px;
    border-top: 3px solid rgba(70, 163, 88, 0);
    padding-top: 30px;
    margin-bottom: 30px;
}
.card:hover{
    border-top: 3px solid rgba(70, 163, 88, 1);
}
.card p{
    padding-top: 30px;
    margin-bottom: 10px;
}
.card h3{
    color: #46A358;
}
.grey{
    color: #A5A5A5;
    position: absolute;
    bottom: 0;
    left: 80px;
    font-size: 20px;
}

/* flex */

.flex{
    font-family: 'cera_proregular', sans-serif;
    margin-bottom: 60px;
}
.flex-line-top{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 140px;
}
.flex-line-top a{
    background: #46a358;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 590;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.flex-card-top{
    display: flex;
    max-width: 600px;
    align-items: center;
    text-align: right;
    flex-wrap: wrap;
}
.card-flex-correction{
    max-width: 280px;
    min-width: 200px;
    margin-right: 30px;
}
.flex-card-top h3{
    margin-bottom: 5px;
    padding-top: 40px;
}
.flex-card-top p{
    margin-bottom: 25px;
}
.flex-central-text{
    margin-bottom: 35px;
    text-align: center;
}
.flex-central-text h2{
    font-family: 'cera_problack', sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}
.flex-line-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-line-bottom a{
    text-decoration: none;
    color: #3d3d3d;
    margin-bottom: 12px;
}
.flex-card-bottom{
    width: 270px;
}
.flex-card-bottom h4{
    color: #46A358;
    margin-bottom: 4px;
    padding-top: 5px;
}
.flex-card-bottom h3{
    margin-bottom: 4px;
}
.flex-card-bottom p{
    margin-bottom: 10px;
}
.sub-title_text {
    margin-bottom: 16px;
    text-align: center
}

/* registration */

.registration{
    font-family: 'cera_proregular', sans-serif;
    max-width: 500px;
    height: 650px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    background: #FFFFFF;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3)
}
.input_log_mail_pass {
    margin-bottom: 16px;
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EAEAEA
}
.input_confirm {
    margin-bottom: 41px;
    max-height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EAEAEA
}
.registration_title {
    font-family: 'cera_promedium', sans-serif;
    padding-top: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    text-align: center;
    margin-bottom: 40px;
    color: #3D3D3D;
}
.button {
    margin-bottom: 36px;
    height: 45px;
    width: 100%;
    color: #ffffff;
    background: #46A358;
    border-radius: 5px;
    border: 1px solid #EAEAEA
}
.sub-title_text {
    margin-bottom: 16px;
    text-align: left;
}
.pre-ending_text {
    margin-bottom: 27px;
    text-align: center
}
.link_google {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    margin-bottom: 15px;
    text-align: center;
}
.link_facebook {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    margin-bottom: 40px;
    text-align: center;
}
.link_facebook a {
    text-decoration: none;
    color: #3D3D3D;
}
.link_google a {
    text-decoration: none;
    color: #3D3D3D;
}
.span_register{
    color: #46A358;
}
.card_text_margin{
    margin: 0 10px;
}