*
{padding: 0;
    margin: 0;
box-sizing: border-box
}
@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}
.container{
    max-width: 1200px;
    margin: auto;
}

/* downtown */

.bottom_main{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
}
.bottom_first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.bottom_card{
    max-width: 202px;
    max-height: 204px;
    margin: 25px;
}
.bottom_card h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.grey_line{
    margin: 0 5px;
}
.bottom_email{
    max-width: 354px;
    background: #fff;
    border-radius: 6px;
    margin: 18px 25px;
}
.input_log_mail_pass{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
}
.bottom_email h2{
    margin-bottom: 25px;
    font-size: 20px;
}
.bottom_button{
    display: flex;
    margin-bottom: 18px;
}
.bottom_button input{
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    padding-left: 10px;
}
.bottom_button button{
    border-radius: 0 6px 6px 0;
    width: 85px;
    height: 40px;
    background: #46a358;
    font-size: 18px;
    color: #fff;
    border: 1px solid #46A358;
}
.bottom_second{
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    font-size: 14px;
}
.bottom_marker::before{
    content: url("../images/marker.png");
    position: absolute;
    left: -25px;
    bottom: 10px;
}
.bottom_marker{
    position: relative;
    margin-left: 25px;
}
.bottom_mail::before{
    content: url("../images/mail.png");
    position: absolute;
    left: -25px;
}
.bottom_mail{
    position: relative;
    margin-left: 25px;
}
.bottom_phone::before{
    content: url("../images/phone.png");
    position: absolute;
    left: -25px;
}
.bottom_phone{
    position: relative;
    margin-left: 25px;
}
.bottom_second p{
    padding-top: 25px;
    margin-bottom: 25px;
    max-width: 200px;
    min-width: 150px;
}
.bottom_second_logo{
    padding: 25px 0;
}
.small_container{
    margin-left: 10px;
    font-size: 14px;
    line-height: 180%;
}
.bottom_second_marker{
    display: flex;
    align-items: center;
    max-width: 205px;
    padding: 25px 0;
}
.bottom_third{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #A5A5A5;
}
.bottom_third_list{
    margin: 0 25px 25px;
    padding-top: 25px;
    line-height: 230%;
    justify-content: space-between;
}
.bottom_third_list a{
    color: #3d3d3d;
    text-decoration: none;
}
.bottom_third_list ul{
    list-style: none;
}
.bottom_third_list h3{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
}
.bottom_third_list_last h3{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
}
.bottom_third_list_last{
    margin-left: 25px;
}
.finish{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    padding-top: 10px;
    margin-bottom: 30px;
}
.medialist ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.medialist{
    margin-bottom: 20px;
}

/* new */

.discount{
    position: absolute;
    background-color: #46A358;
    padding: 10px;
    color: #fff;
    left: 0;
    top: 5px;
}
.cardicons{
    position: absolute;
    bottom: 60px;
    left: 60px;
    display: none;
}
.card:hover .cardicons{
    display: block;
}
.cardicons ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.cardicons ul li{
    display: block;
}
.icon-shopping a:hover img{
    opacity: 0;
}
.icon-shopping a:hover{
    background-image: url("../images/shopping 1.png");
}
.icon-like{
    position: relative;
}
.icon-like a:hover img{
    opacity: 0;
}
.icon-like a:hover{
    background-image: url("../images/heart 1.png");
}
.icon-search{
    position: relative;
}
.icon-search a:hover img{
    opacity: 0;
}
.icon-search a:hover{
    background-image: url("../images/loop 1.png");
}

/* animation */

.logo_animation{
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    animation: logos 2s infinite;
}
@keyframes logos {
    0%{
        transform: scale(100%);
        -webkit-box-shadow: 2px 2px 10px 2px #BDBDBD;
        box-shadow: 2px 2px 10px 2px #BDBDBD;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }
    50%{
        transform: scale(110%);
        -webkit-box-shadow: 3px 3px 15px 3px #ADADAD;
        box-shadow: 3px 3px 15px 3px #ADADAD;
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
    }
}
.image_scale{
    scale: 150%;
}
.loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    animation: loading_animation 5s;
    animation-iteration-count: 1;
    display: none;
}
@keyframes loading_animation {
    0%{
        display: block;
        background-color: white;
    }
    75%{
        background-color: #46A358;
    }
    99%{
        opacity: 0;
    }
}

/* header */

header{
    margin-bottom: 12px;
    padding: 25px 0;
}
header .container{
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    display: flex;
    font-family: 'cera_proregular', sans-serif;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
header nav ul li a{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    position: relative;
}
header nav ul li a:before{
    content: "";
    display: block;
    background-color: #46A358;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -10px;
    transition: 0.4s;
}
header nav ul li a:hover:before{
    width: 100%;
}
header nav ul li a:hover:before{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}
header .login{
    width: 100px;
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: background-color 1s;
}
header .login:hover{
    background-color: #eeeeee;
    color: #3D3D3D;
}
.button_effect{
    transition: background-color 1s;
}
.button_effect:hover{
    background-color: #eeeeee;
    color: #3D3D3D;
}
header .login svg{
    margin-right: 4px;
}
header nav ul li{
    position: relative;
}
header nav ul li .dropdown{
    display: none;
    list-style: none;
    position: absolute;
    top: 10px;
    left: -60px;
    padding-top: 40px;
}
header nav ul li .dropdown a:before{
    display: none;
}
header nav ul li .dropdown a{
    padding: 8px 14px;
    min-width: 188px;
    display: inline-block;
    background-color: #eeeeee;
    line-height: 20px;
    transition: 0.3s;
}
header nav li .dropdown li:last-of-type a:after{
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    position: absolute;
    right: 17px;
    top: 14px;
    background-image: url("../images/frame_9.svg")
}
header nav ul li .dropdown a:hover:after{
    background-image: url("../images/stroke_3-2.svg");
    transform: rotate(180deg);
}
header nav ul li .dropdown a:hover{
    background-color: #46A358;
    color: #eeeeee;
}
header nav ul li.drop:hover .dropdown{
    display: block;
}
.dropdown2{
    display: none;
    background-color: #eeeeee;
    min-width: 188px;
    line-height: 30px;
    transition: 1s;
    position: absolute;
    top: -108px;
    left: 190px;
    padding-left: 10px;
}
header nav ul li.drop .dropdown li:last-of-type:hover .dropdown2{
    display: block;
}

/* banner */

.tittle_box{
    margin-left: 25px;
}
.banner .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'cera_proregular', sans-serif;
    color: #3d3d3d;
    margin-bottom: 50px;
    justify-content: space-between;
}
.banner .container p{
    max-width: 500px;
}
.banner span{
    color: #46A358;
}
.banner h3{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.banner h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'cera_problack', sans-serif;
    margin-bottom: 10px;
}
.banner p{
    margin-bottom: 50px;
}
.banner a{
    background: #46a358;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

/* float */

.float .container{
    font-family: 'cera_proregular', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 40px;
}
.panel-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.panel-left{
    background: #fbfbfb;
}
.panel-right{
    max-width: 820px;
    margin-left: 20px;
}
.categories{
    line-height: 260%;
    padding-left: 18px;
}
.categories a{
    color: #3d3d3d;
    text-decoration: none
}
.categories ul{
    list-style: none;
    padding-left: 12px;
}
.categories h3{
    font-family: 'cera_promedium', sans-serif;
    color: #46A358;
    font-weight: 900;
}
.categories ul li a{
    transition: color 1s;
}
.categories ul li a:hover{
    color: #46A358;
}
.sort{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.sort ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.sort a{
    text-decoration: none;
    color: #3d3d3d;
}
.sort-right{
    display: flex;
    gap: 10px;
    align-items: center;
}
.sort .chosen_one{
    font-family: 'cera_promedium', sans-serif;
    color: #46A358;
    font-weight: 900;
}
.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    align-content: flex-end;
    position: relative;
    max-width: 258px;
    max-height: 400px;
    border-top: 3px solid rgba(70, 163, 88, 0);
    padding-top: 10px;
    margin-bottom: 20px;
    transition: border-top-color 1s;
}
.card:hover{
    border-top: 3px solid rgba(70, 163, 88, 1);
}
.card p{
    padding-top: 30px;
    margin-bottom: 10px;
}
.card h3{
    color: #46A358;
}
.grey{
    color: #A5A5A5;
    position: absolute;
    bottom: 0;
    left: 80px;
    font-size: 20px;
}

/* flex */

.flex{
    font-family: 'cera_proregular', sans-serif;
    margin-bottom: 30px;
}
.flex-line-top{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.flex-line-top a{
    background: #46a358;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 590;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.flex-card-top{
    display: flex;
    max-width: 600px;
    align-items: center;
    text-align: right;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.card-flex-correction{
    max-width: 280px;
    min-width: 200px;
    margin-right: 30px;
}
.flex-card-top h3{
    margin-bottom: 5px;
    padding-top: 40px;
}
.flex-card-top p{
    margin-bottom: 25px;
}
.flex-central-text{
    margin-bottom: 35px;
    text-align: center;
}
.flex-central-text h2{
    font-family: 'cera_problack', sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}
.flex-line-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-line-bottom a{
    text-decoration: none;
    color: #3d3d3d;
    margin-bottom: 12px;
}
.flex-card-bottom{
    max-width: 250px;
    margin: 25px;
}
.flex-card-bottom h4{
    color: #46A358;
    margin-bottom: 4px;
    padding-top: 5px;
}
.flex-card-bottom h3{
    margin-bottom: 4px;
}
.flex-card-bottom p{
    margin-bottom: 10px;
}
.sub-title_text {
    margin-bottom: 16px;
    text-align: center
}

/* registration */

.registration{
    font-family: 'cera_proregular', sans-serif;
    max-width: 500px;
    height: 650px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    background: #FFFFFF;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3)
}
.input_log_mail_pass {
    margin-bottom: 16px;
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EAEAEA
}
.input_confirm {
    margin-bottom: 41px;
    max-height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EAEAEA
}
.registration_title {
    font-family: 'cera_promedium', sans-serif;
    padding-top: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    text-align: center;
    margin-bottom: 40px;
    color: #3D3D3D;
}
.button {
    margin-bottom: 36px;
    height: 45px;
    width: 100%;
    color: #ffffff;
    background: #46A358;
    border-radius: 5px;
    border: 1px solid #EAEAEA
}
.sub-title_text {
    margin-bottom: 16px;
    text-align: left;
}
.pre-ending_text {
    margin-bottom: 27px;
    text-align: center
}
.link_google {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    margin-bottom: 15px;
    text-align: center;
}
.link_facebook {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    margin-bottom: 40px;
    text-align: center;
}
.link_facebook a {
    text-decoration: none;
    color: #3D3D3D;
}
.link_google a {
    text-decoration: none;
    color: #3D3D3D;
}
.span_register{
    color: #46A358;
}
.card_text_margin{
    margin: 0 10px;
}